<div class="container-fluid p-5 bg-secondary">
   
    <div class="row text-center py-5 ">

      <!--description 100 000€-->
    
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 " >
            <div>

               
                <h3 class=" montserrat text-white zoom"><em>
                Une maison neuve au prix maximum de 100 000€...
                </em></h3><br>
                <p class="text-primary montserrat text-white ">
                Nous sommes classés dans les dix premiers en tant que constructeurs de maisons individuels selon le guide de construction pour l’année 2021 car nous sommes exigeants sur la qualité et la finition de nos maisons. Mais cela ne nous empêche pas d’avoir un bon rapport qualité prix avec des maisons abordables.
                <br>
                De plus, c’est un concept nouvel génération, des élus locaux nous accordent d’importantes réductions sur les terrains et des familles viennent s’installer dans leurs villes. Maintenant pour garantir des maisons de qualité, les terrains se trouveront au minimum à 100 kms de Paris
                </p>
                  
            </div>
        </div>
        
    
        <!--carroussel de maison-->
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 " >

            <div id="myCarousel" class="carousel slide carousel-fade pt-5 bg-dark " data-bs-ride="carousel">

                <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
            
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="" aria-label="Slide 2"></button>
            
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" class="active"
                    aria-label="Slide 3"></button>
            
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" class="" aria-label="Slide 4"></button>
                </div>
            
                <!----- Contenu du carrousel ---------->
            
                <div class="carousel-inner">
            
                <!---- Les 4 images ----------------->
            
                <div class="carousel-item active">
                    <img src="assets/maison1.PNG" alt="Image du slider 1">
                    <div class="container">
                        <div class="carousel-caption p-5 rounded bg-darker">
                            <h2 class="text-primary"><em>MA...</em></h2>
                            <p class="fs-4 text-white"></p>
                        </div>
                    </div>
                </div>
            
                <div class="carousel-item">
                    <img src="assets/maison2.PNG" alt="Image du slider 2">
                    <div class="container">
                        <div class="carousel-caption p-5 rounded bg-darker">
                            <h2 class="text-primary"><em>...MAISON...</em></h2>
                            <p class="fs-4 text-white"></p>
                        </div>
                    </div>
            
                </div>
            
                <div class="carousel-item">
                    <img src="assets/maison5.PNG" alt="Image du slider 3">
                    <div class="container">
                        <div class="carousel-caption p-5 rounded bg-darker">
                            <h2 class="text-primary"><em>...A...</em></h2>
                            <p class="fs-4 text-white"></p>
                        </div>
                    </div>
                </div>
            
                <div class="carousel-item">
                    <img src="assets/Maison4.PNG" alt="Image du slider 4">
                    <div class="container">
                        <div class="carousel-caption p-5 rounded bg-darker">
                            <h2 class="text-primary"><em>100 000€</em></h2>
                            <p class="fs-4 text-white"></p>
                        </div>
                    </div>
                </div>
            </div>
            
                <!-- Bouton précédent -->
            
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-primary rounded-circle" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
            
                <!-- Bouton suivant -->
            
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-primary rounded-circle" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
           
        </div>
        </div>
        
        <!--description 100kms-->

        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
            <div>

                <h3 class="text-primary montserrat text-white zoom"><em>
                  Un terrain à 100 kms de Paris au minimum, loin des grandes villes !!!
                </em></h3>
                <p class="text-primary montserrat text-white "><br>
                  Un cadre de vie agréable, en province, vous pourrez trouver dans les 10 kms aux alentours de la maison : un hôpital, des écoles, collèges, lycées ; des commerces ;  une gare ou un tram ou un bus à 5 kms. Le trajet aller-retour Paris ne doit pas dépassera pas trois heures
                  <br>
                   Etes-vous prêt à franchir le pas ? Si oui, n'hésitez pas à vous connectez, choisissez votre secteur autour de Paris : nord, sud, est, ouest ; votre terrain et votre type maison et devenez proprietaire pour seulement 100 000 € Nous sommes aussi joignable au 01 86 86 86 00, du lundi au vendredi, de 9h à 17h et le samedi de 9h à midi, A bientôt !!!
                </p>
              
            </div>
        </div>
          
    
 <!--deuxième ligne-->
    <section id="s2" class="bg-secondary">
        <div class="container-fluid ">
            <br><br>
    
            <div>
              <h3 class="text-primary">Les Secteurs</h3>
            </div>
            <div class="row text-center py-5 ">
                <div class="col-sm-12 col-md-4 col-lg-3 py-3 px-5 ">
                 <div>
                    <h4 class="text-primary montserrat text-white zoom ">Secteur au Nord de Paris</h4>
                    <p> <br><h5 class="text-primary">Louviers - Paris - Jaulgonne</h5><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                 </div>
                </div>

             <div class="col-sm-12 col-md-4 col-lg-3 py-3 px-5 ">
              <div>
                 <h4 class="text-primary montserrat text-white zoom ">Secteur à l'Est de paris</h4>
                 <p> <br><h5 class="text-primary">Jaulgonne - Paris - Pont-sur-Yonne</h5><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
              </div>
            </div>
         
           <div class="col-sm-12 col-md-4 col-lg-3 py-3 px-5 ">
                 <div>
                    <h4 class="text-primary montserrat text-white zoom ">Secteur au sud de Paris</h4>
                    <p> <br><h5 class="text-primary">Louviers - Paris - Jaulgonne</h5><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                 </div>
                </div>
              
             <div class="col-sm-12 col-md-4 col-lg-3 py-3 px-5 ">
              <div>
                 <h4 class="text-primary montserrat text-white zoom ">Secteur à l'Ouest de Paris</h4>
                 <p> <br><h5 class="text-primary">Jaulgonne - Paris - Pont-sur-Yonne</h5><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
            
              </div>
            </div>

             
          </div>     

            
            </div>     
      
        
              
                

    </section>
 

     