<section id="s2" class="bg-secondary">
    <div class="container-fluid ">
        <br><br><br>

        <div>
          <h3 class="text-black text-center">Liste de maisons types</h3>
        </div><br>
        <hr>
       
        <div class="row text-center py-5 ">
          <h4 class="text-primary">Secteur au Nord Paris</h4><hr>
            <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                <img id="TypeA" src="assets/TypeA.PNG" alt="TypeA">
              </div>
            <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
            <div>
              
            </div>
             <div>
                <h5 class=" montserrat text-white zoom ">Maison type  A</h5>
                <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                
             </div>
            </div>
          <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
            <img id="TypeA" src="assets/planA.PNG" alt="planA">
          </div>
     

        <div class="row text-center py-5 ">

            <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                <img id="TypeA" src="assets/planB.PNG" alt="planA">
              </div>
            
            <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
            
             <div>
                <h5 class=" montserrat text-white zoom ">Maison type  B</h5>
                <p> <br><h5 class="text-primary"></h5><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                
             </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                <img id="TypeA" src="assets/TypeB.PNG" alt="TypeA">
              </div>
            
            </div>
            
            
            <div class="row text-center py-5 ">
                <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    <img id="TypeA" src="assets/TypeC.PNG" alt="TypeA">
                  </div>
                <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                
                 <div>
                    <h5 class=" montserrat text-white zoom ">Maison type  C</h5>
                    <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                    
                 </div>
                </div>
              <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                <img id="TypeA" src="assets/planC.PNG" alt="planA">
              </div>
         

            <div class="row text-center py-5 ">
                <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    <img id="TypeA" src="assets/planD.PNG" alt="planA">
                  </div>
                
                <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                
                 <div>
                    <h5 class="montserrat text-white zoom ">Maison type  D</h5>
                    <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                    
                 </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    <img id="TypeA" src="assets/TypeD.PNG" alt="TypeA">
                  </div>
               
                </div>
                <h4 class="text-primary">Secteur à l'Est de Paris</h4><hr>
                <div class="row text-center py-5 ">
                  
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/TypeA.PNG" alt="TypeA">
                      </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    <div>
                      
                    </div>
                     <div>
                        <h5 class=" montserrat text-white zoom ">Maison type  A</h5>
                        <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                        
                     </div>
                    </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    <img id="TypeA" src="assets/planA.PNG" alt="planA">
                  </div>
             
        
                <div class="row text-center py-5 ">
        
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/planB.PNG" alt="planA">
                      </div>
                    
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    
                     <div>
                        <h5 class=" montserrat text-white zoom ">Maison type  B</h5>
                        <p> <br><h5 class="text-primary"></h5><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                        
                     </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/TypeB.PNG" alt="TypeA">
                      </div>
                    
                    </div>
                    
                    
                    <div class="row text-center py-5 ">
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                            <img id="TypeA" src="assets/TypeC.PNG" alt="TypeA">
                          </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        
                         <div>
                            <h5 class=" montserrat text-white zoom ">Maison type  C</h5>
                            <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                            
                         </div>
                        </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/planC.PNG" alt="planA">
                      </div>
                 
        
                    <div class="row text-center py-5 ">
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                            <img id="TypeA" src="assets/planD.PNG" alt="planA">
                          </div>
                        
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        
                         <div>
                            <h5 class="montserrat text-white zoom ">Maison type  D</h5>
                            <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                            
                         </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                            <img id="TypeA" src="assets/TypeD.PNG" alt="TypeA">
                          </div>
                       
                        </div>  
                        <h4 class="text-primary">Secteur au sud de Paris</h4><hr>
                <div class="row text-center py-5 ">
                  
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/TypeA.PNG" alt="TypeA">
                      </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    <div>
                      
                    </div>
                     <div>
                        <h5 class=" montserrat text-white zoom ">Maison type  A</h5>
                        <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                        
                     </div>
                    </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    <img id="TypeA" src="assets/planA.PNG" alt="planA">
                  </div>
             
        
                <div class="row text-center py-5 ">
        
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/planB.PNG" alt="planA">
                      </div>
                    
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    
                     <div>
                        <h5 class=" montserrat text-white zoom ">Maison type  B</h5>
                        <p> <br><h5 class="text-primary"></h5><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                        
                     </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/TypeB.PNG" alt="TypeA">
                      </div>
                    
                    </div>
                    
                    
                    <div class="row text-center py-5 ">
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                            <img id="TypeA" src="assets/TypeC.PNG" alt="TypeA">
                          </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        
                         <div>
                            <h5 class=" montserrat text-white zoom ">Maison type  C</h5>
                            <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                            
                         </div>
                        </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/planC.PNG" alt="planA">
                      </div>
                 
        
                    <div class="row text-center py-5 ">
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                            <img id="TypeA" src="assets/planD.PNG" alt="planA">
                          </div>
                        
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        
                         <div>
                            <h5 class="montserrat text-white zoom ">Maison type  D</h5>
                            <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                            
                         </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                            <img id="TypeA" src="assets/TypeD.PNG" alt="TypeA">
                          </div>
                       
                        </div>  
                        <h4 class="text-primary">Secteur à l'Ouest de Paris</h4><hr>
                <div class="row text-center py-5 ">
                  
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/TypeA.PNG" alt="TypeA">
                      </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    <div>
                      
                    </div>
                     <div>
                        <h5 class=" montserrat text-white zoom ">Maison type  A</h5>
                        <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                        
                     </div>
                    </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    <img id="TypeA" src="assets/planA.PNG" alt="planA">
                  </div>
             
        
                <div class="row text-center py-5 ">
        
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/planB.PNG" alt="planA">
                      </div>
                    
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                    
                     <div>
                        <h5 class=" montserrat text-white zoom ">Maison type  B</h5>
                        <p> <br><h5 class="text-primary"></h5><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                        
                     </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/TypeB.PNG" alt="TypeA">
                      </div>
                    
                    </div>
                    
                    
                    <div class="row text-center py-5 ">
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                            <img id="TypeA" src="assets/TypeC.PNG" alt="TypeA">
                          </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        
                         <div>
                            <h5 class=" montserrat text-white zoom ">Maison type  C</h5>
                            <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                            
                         </div>
                        </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        <img id="TypeA" src="assets/planC.PNG" alt="planA">
                      </div>
                 
        
                    <div class="row text-center py-5 ">
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                            <img id="TypeA" src="assets/planD.PNG" alt="planA">
                          </div>
                        
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                        
                         <div>
                            <h5 class="montserrat text-white zoom ">Maison type  D</h5>
                            <p> <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus porro deleniti harum iure ducimus. Aut, expedita numquam! Natus ipsam molestiae ut sed delectus odit vitae eos? Laudantium, iste laboriosam?</p>
                            
                         </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 ">
                            <img id="TypeA" src="assets/TypeD.PNG" alt="TypeA">
                          </div>
                       
                        </div>  
                             
                   
        </div>     
    </div>    
    
          
            


