<div class=" bg-secondary text-center" >
    <br>
    <br>
    <br>
    <div>
        <h2>Connection</h2><span><img id="logo" src="assets/logomaison.PNG" alt="logo d'une maison"></span><br>
       
    </div>
    <hr>
    <form >
     
       
        <br>

        <!-- Name pour bouton radio = nom du groupe de boutons radios -->
       
        <label for="email">Login :</label>
        <input type="email" name="email" id="email" class="ligneSimple" placeholder="Insérer votre email *" value="" required><br>
        <br>
        <label for="Mot de passe">Mot de passe :</label>
        <input type="password" name="password" id="password"  placeholder=" Votre mot de passe "value="" required><!-- Champs type Tel -->
        <br><br>
        <button type="submit" id="submit" class="btn btn-secondary bg-success"><span class="mx-3">Envoyer</span><i
            class=""></i></button><br><br>
        
      
        <!--<label for="fichier">Fichier Joint</label>
        <input type="file" name="fichier" id="fichier" accept=".png,.jpg">--->
        <br>
        <!-- Bouton Validation -->
        <input type="button" name="accueil" id="accueil" value="Retour à l'Accueil" class="bouton" routerLink="" routerLinkActive="active" >
        
        <!-- Bouton Remise à Zero du Formulaire 
        <input type="reset" name="effacer" id="effacer" value="Effacer" class="bouton alert">
        <div class="clear"></div>------------->
    </form>
</div>



