<header class="bebas">

  <header>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success py-1 px-2">
            
      
      <div class="container-fluid">
      
        <!-------------------nom du site -------------------->

          <a class="navbar-brand text-dark fs-4"><img src="assets/logomaison1.PNG" alt="Image du slider 4"></a>

      
        <!---- Bouton hamburger pour le responsive ----->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#cv-menu"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
      
          <!------ Les liens-------->
          <div class="collapse navbar-collapse" id="cv-menu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  
              <li class="nav-item">
                <a class="nav-link active text-dark" style="width:150px;" routerLink="" routerLinkActive="active">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark"  style="width:150px;" routerLink="listeMaison" routerLinkActive="active" >Liste des maisons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark"  style="width:150px;"  ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark"  style="width:150px;" routerLink="inscription" routerLinkActive="active" >Inscription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark"  style="width:150px;" routerLink="connection" routerLinkActive="active" >Connection</a>
              </li>
              
                  
            </ul>
          </div>
        </div>
      </nav>
    </header>

   
<router-outlet></router-outlet>
