<div class="container-fluid bebas p-5 bg-secondary dimension">
    
    <div class="row text-center py-5 ">
        <!--première ligne-->
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 border border border-dark rounded">
            <form>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </form>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 "></div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 "></div>
        <!--deuxième ligne-->
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 "></div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 border border border-dark rounded">
            <form>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </form>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 "></div>
        <!--troisième ligne-->
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 "></div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 "></div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 border border border-dark rounded">
            <form>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </form>
        </div>
        <!--quatrième ligne-->
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 "></div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 border border border-dark rounded">
            <form>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </form>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 "></div>
        <!--cinquième ligne-->
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 border border border-dark rounded">
            <form>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>  
            </form>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 "></div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3 px-5 "></div>
        
    </div>
</div>





