.clear{
	clear: both;
	width: 0;
	height: 0;
	padding: 2em 0 2em 0;
	margin: 2em 0 2em 0;
}

span {
  margin: 10px;
}

.nopuce {
	list-style-type: none;

}

ul li a:hover {
	color : white;
}

#je,#tu,#il,#nous,#vous {
	font-style: italic;
}

#pj1,#pj2,#pj3{
	border: 3px white solid;
}

/** Classe Clear pour ne annuler les effet de float **/
.clear{
	clear: both; /** Arrête de flotter à gauche et à droite **/
}


/* Couleurs personnalisées */
.orange
{
	color: rgb(225, 126, 7)!important;
}
.bg-orange
{
	background-color: rgb(225, 126, 7);
}
.bdr-orange
{
	border-color: rgb(225, 126, 7);
}
.gray
{
	color: rgb(59, 66, 73);
}
.bg-gray
{
	background-color: rgb(59, 66, 73);
}
.bdr-gray
{
	border-color: rgb(59, 66, 73);
}
.bdr-white
{
	border-color: white;
}
.bg-darker
{
	background-color: rgba(0, 0, 0, 0.3);
}
body {
	background: #232323;
  }
  .accordion{
	margin: 40px 0;
  }
  .accordion .item {
	  border: none;
	  margin-bottom: 50px;
	  background: none;
  }
  .t-p{
	color: rgb(193 206 216);
	padding: 40px 30px 0px 30px;
  }
  .accordion .item .item-header h2 button.btn.btn-link {
	  background: #333435;
	  color: white;
	  border-radius: 0px;
	  font-family: 'Poppins';
	  font-size: 16px;
	  font-weight: 400;
	  line-height: 2.5;
	  text-decoration: none;
  }
  .accordion .item .item-header {
	  border-bottom: none;
	  background: transparent;
	  padding: 0px;
	  margin: 2px;
  }
  
  .accordion .item .item-header h2 button {
	  color: white;
	  font-size: 20px;
	  padding: 15px;
	  display: block;
	  width: 100%;
	  text-align: left;
  }
  
  .accordion .item .item-header h2 i {
	  float: right;
	  font-size: 30px;
	  color: #eca300;
	  background-color: black;
	  width: 60px;
	  height: 40px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border-radius: 5px;
  }
  
  button.btn.btn-link.collapsed i {
	  transform: rotate(0deg);
  }
  
  button.btn.btn-link i {
	  transform: rotate(180deg);
	  transition: 0.5s;
  }
  